apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: alaska-snow-agent
  labels:
    app: alaska-snow-agent
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: "0"
        autoscaling.knative.dev/maxScale: "10"
    spec:
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
      - image: gcr.io/qwiklabs-gcp-01-752385122246/alaska-snow-agent:latest
        ports:
        - containerPort: 8080
        env:
        - name: GCP_PROJECT_ID
          value: "qwiklabs-gcp-01-752385122246"
        - name: GCP_REGION
          value: "us-central1"
        - name: LOG_LEVEL
          value: "INFO"
        resources:
          limits:
            cpu: "2"
            memory: "2Gi"

